MYSQL_DATABASE=ruoyi-vue-pro
MYSQL_USER=lucky5
MYSQL_PASSWORD=replace-with-a-random-password
MYSQL_ROOT_PASSWORD=replace-with-a-different-random-password
MARKET_CREDENTIAL_KEY=replace-with-at-least-32-random-characters
JAVA_TOOL_OPTIONS=-Xms256m -Xmx768m -Djava.security.egd=file:/dev/./urandom
LOTTERY_DRAW_SOURCE_TENANT_ID=1
LOTTERY_DRAW_SOURCE_USER_ID=1
LOTTERY_REAL_MARKET_WRITES_ENABLED=true
